<nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="#" rel="tooltip">Ledi Hildawan</a>
      <button
        class="navbar-toggler navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navigation"
        aria-controls="navigation"
        aria-expanded="false"
        aria-label="Buka menu navigasi"
      >
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav" role="list">
        <li class="nav-item" role="listitem">
          <a class="nav-link smooth-scroll" href="#about">Tentang Saya</a>
        </li>
        <li class="nav-item" role="listitem">
          <a class="nav-link smooth-scroll" href="#experience">Pengalaman</a>
        </li>
        <li class="nav-item" role="listitem">
          <a class="nav-link smooth-scroll" href="#portfolio">Portofolio</a>
        </li>
        <li class="nav-item" role="listitem">
          <a class="nav-link smooth-scroll" href="#contact">Kontak</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
