/* ==========================================================================
   FORM ELEMENT RESETS
   ========================================================================== */

[role='button'],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

button:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type='reset'],
[type='submit'],
button,
html [type='button'] {
  appearance: button;
}

textarea {
  overflow: auto;
  resize: vertical;
}
