/* ==========================================================================
   PORTFOLIO IMAGE COMPONENT
   ========================================================================== */

.cc-porfolio-image figure {
  border-radius: 0.1875rem;
}

.cc-porfolio-image figure img,
.cc-porfolio-image figure figcaption {
  border-radius: 0.1875rem;
}

.cc-porfolio-image.img-raised {
  border-radius: 0.1875rem;
}
