/* ==========================================================================
   PROFILE PAGE COMPONENT
   ========================================================================== */

.profile-page .page-header {
  min-height: 550px;
}

.profile-page .title {
  text-align: center;
  margin-top: 30px;
}

.profile-page .description,
.profile-page .category {
  text-align: center;
}

.profile-page .nav-align-center {
  margin-top: 30px;
}

.profile-page .button-container {
  text-align: center;
  margin-top: -106px;
}
