<div class="section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <h2 class="h4 text-center mb-4 title">Karya Saya</h2>
        <%- include('patterns/portfolio/portfolio-nav.html') %>
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <%- include('patterns/portfolio/web-projects.html') %> <%-
      include('patterns/portfolio/design-projects.html') %> <%-
      include('patterns/portfolio/photo-projects.html') %>
    </div>
  </div>
</div>
